In [1]:
import pandas as pd
import numpy as np

In [44]:
housing = pd.read_csv("Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv")
housing = housing[housing['State'] == 'CA']
housing_county = housing[['RegionName', 'RegionType', 
                          'State', 'City', 'CountyName', 
                          '2019-01-31']]
#housing_county_mean = housing_county_mean.rename(columns={"2019-01-31": "Mean House Price 2019-01-31"})[['Mean House Price 2019-01-31']]
#housing_county_mean= housing_county_mean.reset_index()
#housing_county_mean.head()
housing_county

,RegionName,RegionType,State,City,CountyName,2019-01-31
13,94109,Zip,CA,San Francisco,San Francisco County,1175440.0
21,90250,Zip,CA,Hawthorne,Los Angeles County,654810.0
38,94565,Zip,CA,Pittsburg,Contra Costa County,433488.0
42,90046,Zip,CA,Los Angeles,Los Angeles County,1323987.0
86,94501,Zip,CA,Alameda,Alameda County,998904.0
...,...,...,...,...,...,...
30103,93522,Zip,CA,Darwin,Inyo County,48749.0
30109,95980,Zip,CA,Tobin,Plumas County,134176.0
30167,95375,Zip,CA,Strawberry,Tuolumne County,328489.0
30186,95229,Zip,CA,Vallecito,Calaveras County,303365.0
30188,95721,Zip,CA,Twin Bridges,El Dorado County,315713.0

In [46]:
transport = pd.read_csv("County_Transportation_Profiles.csv")
transport = transport[transport['State Name'] == 'California']
transport = transport[['County Name', 'State Name', 
                       'Percent of resident workers who commute by transit', 
                       'Number of business establishments']]
transport.head()

,County Name,State Name,Percent of resident workers who commute by transit,Number of business establishments
186,Alameda County,California,0.142358,40095.0
187,Alpine County,California,0.000000,37.0
188,Amador County,California,0.000656,842.0
189,Butte County,California,0.012429,4724.0
190,Calaveras County,California,0.008440,924.0

In [69]:
#rates per 100,000
crime_rates = pd.read_csv("crime_rates.csv")
crime_rates = crime_rates.iloc[2:]
crime_rates.columns = crime_rates.iloc[0]
crime_rates = crime_rates.iloc[1:]
crime_rates = crime_rates[['County', 'Violent', 'Murder', 'Robbery', 'Aggrevated assault']]
counties_cr = crime_rates['County'] + " County"
crime_rates['County'] = counties_cr
crime_rates = crime_rates.dropna()
crime_rates.head()

2            County  Violent Murder Robbery Aggrevated assault
3    Alameda County    601.1    5.5   291.8              254.8
4     Alpine County  1,139.4    0.0     0.0            1,139.4
5     Amador County    310.4    0.0    18.9              267.2
6      Butte County    406.7    3.1    63.1              260.1
7  Calaveras County    466.3    4.5    38.1              356.4

In [50]:
pollution = pd.read_csv("pollution.csv")
pollution = pollution[['California County', 'ZIP', 'CES 3.0 Score',' CES 3.0 Percentile', 'Poverty', 'Unemployment']]
counties_pol = pollution['California County'] + ' County'
pollution['California County'] = counties_pol
#pollution = pollution.groupby('California County').mean()[["CES 3.0 Score",
                                                           #"Poverty","Unemployment"]]
#pollution = pollution.reset_index()
pollution.head()

,California County,ZIP,CES 3.0 Score,CES 3.0 Percentile,Poverty,Unemployment
0,Fresno County,93706,94.09,100.00,76.3,17.6
1,San Bernardino County,91761,90.68,99.99,72.5,12.3
2,Fresno County,93706,85.97,99.97,86.8,16.1
3,San Joaquin County,95203,82.49,99.96,61.3,19.6
4,Fresno County,93725,82.03,99.95,66.4,18.6

In [51]:
scores_entities = pd.read_csv("scores_ca2019_entities.csv", encoding='latin-1')
scores_entities.head()

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,37,68056,114686,NaN,2019,7,San Diego,Del Mar Union Elementary,Ocean Air,92130
1,37,68056,6038111,NaN,2019,7,San Diego,Del Mar Union Elementary,Del Mar Heights Elementary,92014
2,37,68056,6088983,NaN,2019,7,San Diego,Del Mar Union Elementary,Del Mar Hills Elementary,92014
3,37,68056,6110696,NaN,2019,7,San Diego,Del Mar Union Elementary,Carmel Del Mar Elementary,92130
4,37,68056,6115620,NaN,2019,7,San Diego,Del Mar Union Elementary,Ashley Falls Elementary,92130

In [29]:
scores = pd.read_csv("scores_ca2019.csv")
scores = scores[['County Code', 'Grade', 'Mean Scale Score']].dropna()
scores['Mean Scale Score'] = pd.to_numeric(scores['Mean Scale Score'],errors='coerce')
scores_grouped = scores.groupby(['County Code', 'Grade']).mean()
scores_grouped = scores_grouped.reset_index()

     County Code  Grade  Mean Scale Score
0              0      3       2429.750000
1              0      4       2469.050000
2              0      5       2498.850000
3              0      6       2519.300000
4              0      7       2537.050000
..           ...    ...               ...
407           58      5       2482.868750
408           58      6       2499.869444
409           58      7       2524.953846
410           58      8       2516.560000
411           58     11       2522.646154

[412 rows x 3 columns]

In [75]:
new_scores = scores_grouped.merge(scores_entities, how = 'right', left_on='County Code', right_on = 'County Code')
new_scores = new_scores[['County Code', 'Mean Scale Score', 'County Name']][7:]
counties_scores = new_scores['County Name'] + ' County'
new_scores['County Name'] = counties_scores
new_scores

       County Code  Mean Scale Score     County Name
7                1       2436.410451  Alameda County
8                1       2474.892562  Alameda County
9                1       2505.703484  Alameda County
10               1       2524.014373  Alameda County
11               1       2539.786250  Alameda County
...            ...               ...             ...
79714           58       2482.868750     Yuba County
79715           58       2499.869444     Yuba County
79716           58       2524.953846     Yuba County
79717           58       2516.560000     Yuba County
79718           58       2522.646154     Yuba County

[79712 rows x 3 columns]

In [84]:
housing_pollution = housing_county.merge(pollution, how = 'right', left_on = 'RegionName', right_on = 'ZIP')
housing_pollution = housing_pollution.dropna().drop(['California County',
                                                     'ZIP'], 1).rename(columns={'2019-01-31': 
                                                                                'House Price 01-2019'})
housing_pollution.head()

,RegionName,RegionType,State,City,CountyName,House Price 01-2019,CES 3.0 Score,CES 3.0 Percentile,Poverty,Unemployment
0,94109.0,Zip,CA,San Francisco,San Francisco County,1175440.0,25.67,51.05,58.7,11.8
1,94109.0,Zip,CA,San Francisco,San Francisco County,1175440.0,23.78,47.11,44.3,6.5
2,94109.0,Zip,CA,San Francisco,San Francisco County,1175440.0,22.21,43.44,42.3,5.6
3,94109.0,Zip,CA,San Francisco,San Francisco County,1175440.0,20.15,38.77,20.0,3.1
4,94109.0,Zip,CA,San Francisco,San Francisco County,1175440.0,16.92,30.16,23.5,1.4

In [85]:
ho_po_transport = housing_pollution.merge(transport, how='right', left_on = 'CountyName', right_on = 'County Name')
ho_po_transport = ho_po_transport.dropna().drop(['CountyName', 'State Name'], 1)
ho_po_transport.head()

,RegionName,RegionType,State,City,House Price 01-2019,CES 3.0 Score,CES 3.0 Percentile,Poverty,Unemployment,County Name,Percent of resident workers who commute by transit,Number of business establishments
0,94109.0,Zip,CA,San Francisco,1175440.0,25.67,51.05,58.7,11.8,San Francisco County,0.336165,34518.0
1,94109.0,Zip,CA,San Francisco,1175440.0,23.78,47.11,44.3,6.5,San Francisco County,0.336165,34518.0
2,94109.0,Zip,CA,San Francisco,1175440.0,22.21,43.44,42.3,5.6,San Francisco County,0.336165,34518.0
3,94109.0,Zip,CA,San Francisco,1175440.0,20.15,38.77,20.0,3.1,San Francisco County,0.336165,34518.0
4,94109.0,Zip,CA,San Francisco,1175440.0,16.92,30.16,23.5,1.4,San Francisco County,0.336165,34518.0

In [86]:
ho_po_tr_crimes = ho_po_transport.merge(crime_rates, how = 'right', left_on = 'County Name', right_on = "County")
ho_po_tr_crimes.head()

,RegionName,RegionType,State,City,House Price 01-2019,CES 3.0 Score,CES 3.0 Percentile,Poverty,Unemployment,County Name,Percent of resident workers who commute by transit,Number of business establishments,County,Violent,Murder,Robbery,Aggrevated assault
0,94109.0,Zip,CA,San Francisco,1175440.0,25.67,51.05,58.7,11.8,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7
1,94109.0,Zip,CA,San Francisco,1175440.0,23.78,47.11,44.3,6.5,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7
2,94109.0,Zip,CA,San Francisco,1175440.0,22.21,43.44,42.3,5.6,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7
3,94109.0,Zip,CA,San Francisco,1175440.0,20.15,38.77,20.0,3.1,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7
4,94109.0,Zip,CA,San Francisco,1175440.0,16.92,30.16,23.5,1.4,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7

In [88]:
ho_po_tr_cr_scores = ho_po_tr_crimes.merge(new_scores, how = 'right', left_on = 'County Name', right_on = "County Name")

,RegionName,RegionType,State,City,House Price 01-2019,CES 3.0 Score,CES 3.0 Percentile,Poverty,Unemployment,County Name,Percent of resident workers who commute by transit,Number of business establishments,County,Violent,Murder,Robbery,Aggrevated assault,County Code,Mean Scale Score
0,94109.0,Zip,CA,San Francisco,1175440.0,25.67,51.05,58.7,11.8,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7,38,2433.625000
1,94109.0,Zip,CA,San Francisco,1175440.0,23.78,47.11,44.3,6.5,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7,38,2433.625000
2,94109.0,Zip,CA,San Francisco,1175440.0,22.21,43.44,42.3,5.6,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7,38,2433.625000
3,94109.0,Zip,CA,San Francisco,1175440.0,20.15,38.77,20.0,3.1,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7,38,2433.625000
4,94109.0,Zip,CA,San Francisco,1175440.0,16.92,30.16,23.5,1.4,San Francisco County,0.336165,34518.0,San Francisco County,728.1,6.4,372.7,306.7,38,2433.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53156080,96124.0,Zip,CA,Calpine,258054.0,19.97,38.20,30.6,8.0,Sierra County,0.000000,67.0,Sierra County,159.6,0.0,31.9,127.7,46,2485.516667
53156081,96124.0,Zip,CA,Calpine,258054.0,19.97,38.20,30.6,8.0,Sierra County,0.000000,67.0,Sierra County,159.6,0.0,31.9,127.7,46,2493.150000
53156082,96124.0,Zip,CA,Calpine,258054.0,19.97,38.20,30.6,8.0,Sierra County,0.000000,67.0,Sierra County,159.6,0.0,31.9,127.7,46,2520.116667
53156083,96124.0,Zip,CA,Calpine,258054.0,19.97,38.20,30.6,8.0,Sierra County,0.000000,67.0,Sierra County,159.6,0.0,31.9,127.7,46,2552.333333
53156084,96124.0,Zip,CA,Calpine,258054.0,19.97,38.20,30.6,8.0,Sierra County,0.000000,67.0,Sierra County,159.6,0.0,31.9,127.7,46,2606.850000

In [89]:
ho_po_tr_cr_scores = ho_po_tr_cr_scores.drop_duplicates()
ho_po_tr_cr_scores.to_csv('all.csv')